<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tp liebres</title>
</head>
<header>
    <a href="/"><img src="/images/logo-mercado-liebre.svg" alt="logo mercado liebre"> </a> 
   <p>
    <input type="search" name="busqueda producto" size="5" maxlength="5">
    <input type="submit" value="buscar producto">

    <p>Comprá en cuotas y sin tarjeta de crédito</p>

    <ul>
        <li><a href="/">Ofertas</a></li>
    
        <li><a href="/">Tiendas Oficiales</a></li>
            <li><a href="/">Vender</a></li>  
            <li><a href="/">Ayuda</a></li>
    </ul>
    <ul>        
            <li><a href="/">Creá tu cuenta</a></li>
                <li><a href="/">Ingresá</a></li>
                    <li><a href="/">Mis compras</a></li>
                    
    </ul>
    
    
    </p>
    
</header>
<main>
   
    <section>
        
            <h3>Basado en tu utima visita</h3>
           <im src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
            <im src="/public/images/img-macbook-pro-2019.jpg"/>
                            <p>$230000</p>
                            <p>20 % off</p>

    </section>
    <section>

    </section>
</main>

<body>

</body>
<footer>
    <h3>Paga con tarjeta o en efectivo</h3> 
    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
        puntos de pago. ¡Y siempre es seguro!</p>

</footer>
</html>
