<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tp liebres</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/e7049469c0.js" crossorigin="anonymous"></script>
</head>
    <body<i class="home_body"></i>
    <div class="contenedor">
        <header class="home_header">
            
                    
                        <img src="/images/logo-mercado-liebre.svg" >
                    
        
                        
                    
            
               <form class="home__header--busqueda" action="">
                <input type="text" placeholder="Busca productos,marcas"/>
                <button type="submit">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
               </form>
                   
           
                
            
                <h3 class="compra"><i class="fa-solid fa-hand-holding-dollar"> </i>Comprá en cuotas y sin tarjeta de crédito</h3>
                
                        
                    

                    <nav class="home_header_menu show">
        <ul class="ofertas">
            
            <li><a href="/"> Ofertas </a></li>  
            <li><a href="/"> Tiendas oficiales </a></li>
            <li><a href="/"> Vender </a></li>
            <li><a href="/"> Ayuda </a></li>
            
        </ul>     

        <ul class="cuentas">
            <li><a href="/register">Creá tu cuenta</a> <i class="fa-solid fa-address-card"></i> </li>
            <li><a href="/login">Ingresá</a> <i class="fa-solid fa-arrow-right-to-bracket"></i></li>
            <li><a href="/">Mis compras</a> <i class="fa-solid fa-basket-shopping"></i></li>
        </ul>

    </nav> 
    <div class="burguer">
        <button class="burguer-menu" onclick="document.querySelector('.home_header_menu').classList.toggle('show')"><i class="fas fa-bars"></i></button>        
    </div>
             
            <div class="home_header_banner">
                <img src="/images/img-home-banner.jpg">
            </div>
</header>

    <main class="home_main_register">
        
    <section class="register_main_section">
        
        <h1 class="form_title">Ingresá</h1>


        <form action="/" class="form">

            <div class="form_box">
                <label class="form_label" for="nombre">Nombre de usuario:</label>
                <input class="form_input" type="text" id:"nombre" name="Firtsname">
                <label class="form_label" for="password">Elegí tu contraseña:</label>
                <input class="form_input" type="password" id:"password" name="password">
                <button class="form__button form_button_send" type="submit"><a href="/">Enviar</a></button>
            </div>
        

        </form>
</section>
    
    </main >


    <footer class="home_footer">
        <section>
            <i id="iconoDeTarjeta" class="fa-solid fa-credit-card"></i>
            <h5>Paga con tarjeta o en efectivo</h5> 
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
        puntos de pago. ¡Y siempre es seguro!</p>
        </section>

        <section>
            <i class="fa-solid fa-gift"></i>
            <h5>Envío gratis desde $ 2.500</h5>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
        productos. Es un beneficio de Mercado Puntos.</p>
        </section>

        <section>
            <i class="fa-solid fa-user-shield"></i>
        <h5>Seguridad, de principio a fin</h5>
            <p> ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
        porque estás siempre protegid@</p>
        </section>


        <div class="copi">
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </div>

    </footer>
        </div>
</body>
</html>