.Alinear_flex{
    display: flex;
    justify-content: center;
}

.Alinear_flex_A{
    display: flex;
    justify-content: center;
}

.Alinear_flex_B{
    display: flex;
    justify-content: center;
}

.Alinear_flex_C{
    display: flex;
    justify-content: center;
}

.Alinear_flex_D{
    display: flex;
    justify-content: center;
}

.Alinear_flex_E{
    display: flex;
    justify-content: center;
}

.Alinear_flex_F{
    display: flex;
    justify-content: center;
}

.Alinear_flex_G{
    display: flex;
    justify-content: center
}






