
/*Header*/

header{
    background-color: var( --colorAmarillo);
    font-family:'Roboto';
    margin-top:0px;
    margin-bottom:0px;
    margin-left:0px;
    margin-right: 0px;
    padding:10px;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;

    
}




ol, ul{
    padding:0
}

li{
    list-style: none;
}

.home--p p{
    text-align: center;
    padding: 20px;
}


.logoYDemas{
    display:flex;
    justify-content: space-around;
    width:100%;
    align-items: center;
}

.home_header_banner {
    width: 100%;
    height: 50px;

}
.home_header_banner img {
    width: 100%;
    height: 100%;
    margin-top: 10px;
}





header img{
    
    width:45%

}



.home__header--busqueda{
    padding: 12px 5px;
    width:40%
}



.home__header--busqueda input{

    width:100%;
}

.home__header--busqueda button{
    position: absolute;
}


.compra{
    font-size: var(--textoSizeDescripciones);
    font-weight: 400;
    text-align: center;
    margin-bottom: 15px;
    width:100%
}

.home_header_menu{
    display:none;
    flex-direction: column;
}

.home_header_menu a{
    color:black;
    padding:0 0 0px;
}

.home_header_menu ul{
    display:flex;
    flex-direction: column;
    gap:10px
}

.home__header__form_search{
    width:100%
}


.home__header__form_search {
    position: relative;
}

.home__header__form_search input{
    width:100%;
    border:1px solid grey;
    border-radius:5px;
    padding:10px
}

.home__header__form_search button{
    color:grey;
    border:none;
    background-color: transparent;
    position:absolute;
    top:0;
    right:0;
    margin:7px;
    font-size: 20px;
    border-left:1px solid gray ;
}


.burguer-menu{
    text-align: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}


.burguer-menu button{
    background-color: var(--colorCeleste);
}

.burguer{
    margin: 0 auto;
}

body{
    font-family:'Roboto';
    background-color:var(--colorGrisClaro);
    
}

.show {
    display: block;
}

@media (min-width:769px){

  
  /*header*/

  header{
    justify-content: space-between;
  }
  .home_header_menu{
        
    display:flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  align-items: center;
}

.home_header_menu ul{
    flex-direction: row;
    width: 100%;
}

.logoYDemas{
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 50px;
    flex-direction: row;
} 

.home__header--busqueda{
    width:30%
}

.home_header img{
    
    width:30%

}

.home_header_banner img {
    width: 100%;
    height: 100%;
    margin-top: 10px;
}

.compra{
    width:30%
}

.ofertas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    
}
.cuentas{
    display: flex;
    flex-direction: row;
   
    flex-wrap: wrap;
    justify-content: flex-end;
    
}

.burguer-menu{
    display:none
}

.home__header__form_search{
    width:40%
}


}


@media (min-width:1024px){
    /*header*/
    
    .home_header_menu{
        
        display:flex;
        width: 100%;
        justify-content: space-between;
      align-items: center;
    }
    .logoYDemas{
        display:flex;
        justify-content: space-around;
        align-items: center;
        padding-bottom: 50px;
    } 
   

    
    }
    .ofertas{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        
    }
    .cuentas{
        display: flex;
        flex-direction: row;
       
        flex-wrap: wrap;
        justify-content: flex-end;
        
    }
    